@charset "utf-8";*{-webkit-text-size-adjust:none}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}html{height:100%;background:#fff}body{color:#000;font:16px/34px 'Hiragino Sans GB W3', "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;margin:0 auto;min-height:100%;position:relative;background:#fff}
a{color:#000;text-decoration:none;cursor:pointer;margin:0;padding:0;vertical-align:baseline;-webkit-tap-highlight-color:rgba(255,255,255,0.4)}a:hover{text-decoration:none}p{margin:0 0 15px}input,textarea,select{font:100% Arial,Helvetica,sans-serif;vertical-align:middle}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}figure{margin:0;padding:0}ul{list-style:none}blockquote,q{quotes:none}table{border-collapse:collapse;border-spacing:0;width:100%}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:10px 0;padding:0}
/* styles */
body{
	background: #fff url('../images/bg-body.jpg') no-repeat 0 100%;
	background-size: 100% auto;
}
.holder{
	margin: 0 auto;
	max-width: 980px;
}
#wrapper{
	padding-top: 97px;
}
.pc{display: block !important;}
.sp{display: none !important;}
/* header */
#header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 97px;
	background: #fff;
	z-index: 900;
}
#header .header{
	margin: 0 auto;
	height:97px;
	max-width: 1328px;
	position: relative;
}
#header .logo{
	position: absolute;
	top: 22px;
	left: 47px;
	width: 144px;
	height: 60px;
	background: url('../images/logo.png') no-repeat;
	-webkit-background-size: 144px 60px;
	background-size: 144px 60px;
	text-indent: -9999px;
	z-index: 2;
	overflow: hidden;
}
#header .mobile-opener,
#header .nav li.sp,
#header .link-mail{display: none;}
#header .nav{
	position: absolute;
	top: 38px;
	right: 380px;
	right: 380px;
}
#header nav ul{list-style: none;}
#header nav ul li{
	display: inline-block;
	vertical-align: top;
	margin-left: 70px;
}
#header nav ul li:first-child{margin-left: 0;}
#header nav ul a{
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-ms-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}
#header nav ul a:hover{color: #f60;}
.btn{
	display: block;
	position: relative;
	margin: 0 auto 93px;
	max-width: 500px;
	background: #f60;
	-webkit-border-radius: 29px;
	-moz-border-radius: 29px;
	border-radius: 29px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	line-height: 58px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border: 1px solid #f60;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.btn:after{
	content:'';
	left:-100%;
	top:0;
	position:absolute;
	height:100%;
	width:100%;
	overflow:hidden;
	background:#fff;
	-webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn:hover:after{left:0;}
.btn:hover{
	opacity:0.8;
	color:#f60;
}
.btn:before{
	content:'';
	position:absolute;
	z-index:1;
	right: 26px;
	top: 50%;
	margin-top: -7px;
	width:14px;
	height:14px;
	overflow:hidden;
	background: url('../images/arrow01.png') no-repeat;
}
.btn:hover:before{
	background: url('../images/arrow01-on.png') no-repeat;
}
.btn span{
	position:relative;
	z-index:2;
	line-height: 58px;
}
.btn input {
	display: block;
	position: absolute;
	border: 0;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-indent: -999px;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	cursor: pointer;
	z-index: 10;
}
#header .link-call{
	position: absolute;
	top: 25px;
	right: 0;
	width: 300px;
	margin: 0;
	font-size: 18px;
	line-height: 53px;
	font-weight: bold;
	-webkit-border-radius: 27px;
	-moz-border-radius: 27px;
	border-radius: 27px;
}
#header .link-call:before{
	content:'';
	position:relative;
	z-index:1;
	right: auto;
	top: auto;
	display:inline-block;
	vertical-align:middle;
	width:18px;
	height:22px;
	overflow:hidden;
	margin:0 11px 0 0;
	background: url('../images/icon-phone.png') no-repeat;
}
#header .link-call:hover:before{
	background: url('../images/icon-phone-on.png') no-repeat;
}
#header .link-call span{
	line-height: 53px;
}
/* main content */
/* promo heading */
.promo-heading{
	margin-bottom: 60px;
}
.promo-heading .top-links{
	list-style: none;
	background: #333;
	color: #fff;
	text-align: center;
	line-height: 33px;
}
.promo-heading .top-links li{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 6px 0 12px;
	margin-right: -3px;
}
.promo-heading .top-links li:first-child{padding-left: 0;}
.promo-heading .top-links li:last-child{padding-right: 0;}
.promo-heading .top-links li:before{
	content: '|';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	line-height: 33px;
}
.promo-heading .top-links li:first-child:before{
	display: none;
}
.promo-heading .top-links a{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color: #fff;
}
.promo-heading .top-links a:hover{
	opacity: 0.7;
}
.swiper-top{
	position: relative;
	overflow: hidden;
}
.swiper-top img{
	display: block;
	width: 100%;
}
.swiper-top .top-heading{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 650px;
	background: #fff;
	text-align: center;
	z-index: 500;
}
.swiper-top .top-heading:before{
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 100%;
	height: 100%;
	background: #f60;
	z-index: 1;
}
.swiper-top .top-heading .hold{
	padding: 22px 5px 27px;
	background: #fff;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.swiper-top .top-heading h3{
	margin-bottom: 8px;
	font: italic 25px/1.2 'Lato', sans-serif;
	color: #f60;
	letter-spacing: 3px;
}
.swiper-top .top-heading h2{
	font-size: 30px;
	line-height: 34px;
	letter-spacing: 4px;
}
/* mission title */
.mission-title{
	margin-bottom: 48px;
	text-align: center;
	font-size: 22px;
	line-height: 36px;
	font-weight: 500;
}
.mission-title h2{
	margin-bottom: 20px;
	font: italic 35px/1.37 'Lato', sans-serif;
	color: #f60;
	letter-spacing: 3px;
}
.mission-title p{margin: 0;}
/* mission boxes */
.mission-boxes{
	padding: 86px 0 80px;
	margin-bottom: 62px;
	background: #ffefe5;
}
.mission-boxes .boxes{
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
}
.mission-boxes .box{
	width: 30.6%;
	background: #fff;
}
.mission-boxes .box img{
	display: block;
	width: 100%;
}
.mission-boxes .box .text{
	padding: 20px 20px 25px;
	text-align: center;
}
.mission-boxes .box h3{
	margin-bottom: 11px;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 500;
	color: #f60;
}
.mission-boxes .box p{
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 2;
}
.mission-boxes .box p span{display: block;}
.mission-boxes .btn{
	margin: 0 auto;
	background: #fff;
	color: #f60;
	font-size: 13px;
	line-height: 37px;
	max-width: 206px;
}
.mission-boxes .btn span{
	line-height: 37px;
}
.mission-boxes .btn:after{background: #f60;}
.mission-boxes .btn:before{
	width: 10px;
	height: 10px;
	margin-top: -5px;
	background: url('../images/arrow02.png') no-repeat;
}
.mission-boxes .btn:hover{color: #fff !important;}
.mission-boxes .btn:hover:before{background: url('../images/arrow02-on.png') no-repeat;}
/* interview box */
section .heading{
	text-align: center;
	margin-bottom: 46px;
}
section .heading h2{
	font-size: 24px;
	line-height: 1.2;
	font-weight: 600;
}
section .heading h3{
	font: italic 25px/1.2 'Lato', sans-serif;
	color: #f60;
	letter-spacing: 3px;
}
.interview-holder{margin-bottom: 73px;}
.interview-box{
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	overflow: hidden;
	background: #f60;
	color: #fff;
}
.interview-box .image{
	width: 50%;
	position: relative;
}
.interview-box .image.right{float: right;}
.interview-box .image img{
	display: block;
	width: 100%;
}
.interview-box .text{
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 14px;
	line-height: 34px;
}
.interview-box .image:after{
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -21px;
	width: 0;
	height: 0;
	border-top: 21px solid transparent;
	border-right: 20px solid #f60;
	border-bottom: 21px solid transparent;
}
.interview-box .image.right:after{
	left: auto;
	left: 0;
	border-right: 0;
	border-left: 20px solid #f60;
}
.interview-box .text .box{
	margin: 0 auto;
	max-width: 412px;
}
.interview-box .text .box.box2{max-width: 440px;}
.interview-box .text h4{
	margin-bottom: 27px;
	font-size: 24px;
	line-height: 1.4;
	font-weight: 600;
}
.interview-box .text p{
	margin-bottom: 35px;
	letter-spacing: 1px;
}
.interview-box .btn{
	background: #fff;
	color: #f60;
	font-size: 13px;
	line-height: 37px;
	max-width: 206px;
	margin: 0 auto;
}
.interview-box .btn span{
	line-height: 37px;
}
.interview-box .btn:after{background: #f60;}
.interview-box .btn:before{
	width: 10px;
	height: 10px;
	margin-top: -5px;
	background: url('../images/arrow02.png') no-repeat;
}
.interview-box .btn:hover{
	color: #fff !important;
	border-color: #fff;
}
.interview-box .btn:hover:before{background: url('../images/arrow02-on.png') no-repeat;}
.interview-small-holder{
	margin-bottom: 88px;
	overflow: hidden;
}
.interview-small-holder .boxes{
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
}
.interview-small-holder .box{
	width: 47.25%;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	background: #ffefe5;
}
.interview-small-holder .box .text,
.interview-small-holder .box .image{width: 50%;}
.interview-small-holder .box .image img{
	display: block;
	width: 100%;
}
.interview-small-holder .box .text{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
}
.interview-small-holder .box h4{
	margin-bottom: 2px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
}
.interview-small-holder .box h5{
	margin-bottom: 10px;
	font: italic 16px/1.2 'Lato', sans-serif;
	color: #f60;
	letter-spacing: 1.5px;
}
.work-with-us{
	margin-bottom: 108px;
	background: #ffefe5;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	overflow: hidden;
}
.work-with-us .image,
.work-with-us .text{width: 50%;}
.work-with-us .image img{
	display: block;
	width: 100%;
}
.work-with-us .text{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
}
.work-with-us h3{
	font-size: 24px;
	line-height: 1.4;
	font-weight: 600;
}
.work-with-us h4{
	margin-bottom: 25px;
	font: italic 22px/1.4 'Lato', sans-serif;
	color: #f60;
	letter-spacing: 2.5px;
}
.work-with-us p{margin-bottom: 24px;}
.work-with-us .text .btn{
	margin: 0 auto;
	max-width: 283px;
	line-height: 52px;
	background: #fff;
	color: #f60;
}
.work-with-us .text .btn span{line-height: 52px;}
.work-with-us .text .btn:after{background: #f60;}
.work-with-us .text .btn:before{
	width: 14px;
	height: 14px;
	margin-top: -7px;
	background: url('../images/arrow03.png') no-repeat;
}
.work-with-us .text .btn:hover{
	color: #fff !important;
	border-color: #fff;
}
.work-with-us .text .btn:hover:before{background: url('../images/arrow01.png') no-repeat;}
/* gallery images */
.gallery-images{margin-bottom: 116px;}
.gallery-images .heading{margin-bottom: 55px;}
.gallery-images .swiper-slide img{
	display: block;
	width: 100%;
}
/* access box */
.access-box{margin-bottom: 87px;}
.access-box .heading{margin-bottom: 54px;}
.access-box .access{
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: flex-start;
	justify-content: space-between;
}
.access-box .access .map{
	width: 47%;
	height: 300px;
	overflow: hidden;
}
.access-box .access .map iframe{
	display: block;
	width: 100%;
	height: 100%;
}
.access-box .access .text{width: 45.5%;}
.access-box .access .text h4{
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.2;
}
.access-box .access .text .info{
	margin-bottom: 72px;
	overflow: hidden;
}
.access-box .access .text p{
	font-size: 14px;
	line-height: 35px;
	margin-bottom: 0;
}
.btn.btn-access{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: auto;
	padding: 0 17px;
	font-size: 14px;
	line-height: 23px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.btn.btn-access span{line-height: 23px;}
.btn.btn-access:before{display: none;}
/* promo image */
.promo-image{
	height: 225px;
	margin-bottom: 45px;
	position: relative;
}
.promo-image .head{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-45%);
	-moz-transform: translate(-50%,-45%);
	-ms-transform: translate(-50%,-45%);
	-o-transform: translate(-50%,-45%);
	transform: translate(-50%,-45%);
	width: 650px;
	color: #fff;
	text-align: center;
}
.promo-image h2{
	margin-bottom: 9px;
	font-size: 30px;
	line-height: 34px;
	font-weight: bold;
	letter-spacing: 5px;
}
.promo-image h3{
	font: italic 18px/1.4 'Lato', sans-serif;
	letter-spacing: 2px;
}
.promo-image.workflow{background: url('../images/img-promo-workflow.jpg') no-repeat 50% 0;}
.promo-image.contact{background: url('../images/img-promo-contact.jpg') no-repeat 50% 0;}
.promo-image.faq{background: url('../images/img-promo-faq.jpg') no-repeat 50% 0;}
.promo-image.recruit{background: url('../images/img-promo-recruit.jpg') no-repeat 50% 0;}
.promo-image.company{background: url('../images/img-promo-company.jpg') no-repeat 50% 0;}
.promo-image.development{background: url('../images/img-promo-development.jpg') no-repeat;}
.promo-image.interview{background: url('../images/img-promo-interview.jpg') no-repeat;}



.promo-image.workflow,
.promo-image.contact,
.promo-image.faq,
.promo-image.recruit,
.promo-image.company,
.promo-image.development,
.promo-image.interview{
	-webkit-background-size: cover;
	background-size: cover;
}






/* workflow */
.tabset{
	list-style: none;
	margin-bottom: 45px;
	width: 100%;
	display: table;
	vertical-align: middle;
	border-collapse: collapse;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	table-layout: fixed;
	border: 1px #7f7f7f solid;
}
.tabset.development{margin-bottom: 49px;}
.tabset a{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #585858;
	height: 65px;
	background: url('../images/separator-vertical.png') repeat-y;
}
.tabset a:first-child{background: none;}
.tabset a span{display: block;}
.tabset a.active,
.tabset a:first-child.active{
	background: #f60;
	color: #fff;
	position: relative;
}
.tabset a.active + a{background: none;}
.page-title{
	margin-bottom: 60px;
	text-align: center;
}
.page-title h2{
	font-size: 23px;
	line-height: 1.4;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 4px;
}
.page-title h3{
	font-size: 15px;
	line-height: 1.4;
	letter-spacing: 1.5px;
}
.workflow-blocks{
	margin-bottom: 100px;
	position: relative;
	height: 3300px;
	overflow: hidden;
}
.workflow-blocks:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	background: #4c4c4c;
}
.workflow-blocks .box{
	position: absolute;
	width: 50%;
	padding-right: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.workflow-blocks .box.right{
	padding: 0 0 0 100px;
	left: 50%;
}
.workflow-blocks .box .head{
	background: #ffe3d0;
	text-align: center;
	position: relative;
	padding: 20px 10px;
}
.workflow-blocks .box .head:before{
	content: '';
	position: absolute;
	top: 50%;
	right: -35px;
	width: 0;
	height: 0;
	margin-top: -13px;
	border-top: 13px solid transparent;
	border-left: 35px solid #ffe3d0;
	border-bottom: 13px solid transparent;
}
.workflow-blocks .box.right .head:before{
	right: 100%;
	border-left: 0;
	border-right: 35px solid #ffe3d0;
}
.workflow-blocks .box:before{
	content: '';
	position: absolute;
	top: 30px;
	right: 0;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background: #4c4c4c;
	margin: -9px -9px 0 0;
}
.workflow-blocks .box.right:before{
	right: auto;
	left: 0;
	margin: -9px 0 0 -9px;
}
.workflow-blocks .box .head h4{
	font-size: 15px;
	line-height: 20px;
}
.workflow-blocks .box img{
	display: block;
	width: 100%;
}
.workflow-blocks .box.box1{top: 5px;}
.workflow-blocks .box.box2{top: 155px;}
.workflow-blocks .box.box3{top: 311px;}
.workflow-blocks .box.box4{top: 594px;}
.workflow-blocks .box.box5{top: 828px;}
.workflow-blocks .box.box6{top: 1071px;}
.workflow-blocks .box.box7{top: 1317px;}
.workflow-blocks .box.box8{top: 1545px;}
.workflow-blocks .box.box9{top: 1784px;}
.workflow-blocks .box.box10{top: 2001px;}
.workflow-blocks .box.box11{top: 2257px;}
.workflow-blocks .box.box12{top: 2480px;}
.workflow-blocks .box.box13{top: 2742px;}
.workflow-blocks .box.box14{top: 2978px;}
/* contact box */
.contact-box{
	margin-bottom: 174px;
	overflow: hidden;
}
.contact-box .heading{
	padding: 10px 25px 30px;
	margin: 0 auto;
	max-width: 980px;
	text-align: center;
	overflow: hidden;
}
.contact-box .heading h4{
	font-size: 19px;
	line-height: 34px;
	font-weight: 600;
	letter-spacing: 2.5px;
	margin-bottom: 20px;
}
.form{
	background: #fff1e7;
	padding-top: 82px;
	overflow: hidden;
}
.form .row{
	overflow: hidden;
	margin-bottom: 26px;
}
.form .row.top{margin-bottom: 28px;}
.form .row.top .label,
.form .row.bottom .label{
	line-height: 30px;
}
.form .row.bottom{margin-bottom: 82px;}
.form .row .hold{overflow: hidden;}
.form .row .label{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:40%;
	padding:0 5px 0 72px;
	line-height:34px;
	font-size:16px;
	color:#000;
	font-weight:500;
	white-space:nowrap;
}
.form .row .label i{
	display:inline-block;
	vertical-align:middle;
	font-size:12px;
	line-height:22px;
	font-style:normal;
	color:#fff;
	width:63px;
	background:#f60;
	text-align:center;
	margin-left:15px;
}
.form .text{
	display:block;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border:0;
	background:#fff;
	padding:9px 24px;
	font-size:14px;
	line-height:16px;
	color:#000;
	width:398px;
	outline:none;
	webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.form .text.long{width: 100%;}
.form .text.short{width: 125px;}
.form .hold .txt{
	margin-right: 18px;
	float: left;
	font-size: 15px;
	line-height: 34px;
}
.form input:-moz-placeholder {color:#bbb;opacity:1;}
.form input::-moz-placeholder {color:#bbb;opacity:1;}
.form input::-webkit-input-placeholder {color:#bbb;}
.form input:-ms-input-placeholder {color:#bbb;}
.form input::placeholder{color:#bbb;}
.form input.placeholder{color:#bbb !important;}
.form input:focus:-moz-placeholder {color:transparent;}
.form input:focus::-moz-placeholder {color:transparent;}
.form input:focus::-webkit-input-placeholder {color:transparent;}
.form input:focus:-ms-input-placeholder {color:transparent;}
.form input:focus::placeholder {color:transparent;}
.form textarea:-moz-placeholder {color:#bbb;opacity:1;}
.form textarea::-moz-placeholder {color:#bbb;opacity:1;}
.form textarea::-webkit-input-placeholder {color:#bbb;}
.form textarea:-ms-input-placeholder {color:#bbb;}
.form textarea::placeholder{color:#bbb;}
.form textarea.placeholder{color:#bbb !important;}
.form textarea:focus:-moz-placeholder {color:transparent;}
.form textarea:focus::-moz-placeholder {color:transparent;}
.form textarea:focus::-webkit-input-placeholder {color:transparent;}
.form textarea:focus:-ms-input-placeholder {color:transparent;}
.form textarea:focus::placeholder {color:transparent;}
.comment{
	background:#fff;
	max-width:585px;
	overflow:hidden;
}
.comment textarea{
	font-size:14px;
	line-height:16px;
	color:#000;
	padding:9px 24px;
	width:100%;
	height:228px;
	border:0;
	background:none;
	outline:none;
	webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	resize:none;
}
.select{
	display:inline-block;
	background:#fff;
	overflow:hidden;
	position:relative;
	vertical-align:top;
}
.select:after{
	content:'';
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #f60;
	position:absolute;
	left:17px;
	top:50%;
	margin-top:-4px;
}
.select select{
	display:block;
	position:relative;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background:none;
	border:0;
	padding:0 18px 0 41px;
	font-size:14px;
	line-height:16px;
	height:34px;
	min-width: 160px;
	outline:none
}
.select select::-ms-expand{display: none;}
.form .check-col{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.form .check-col label{
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}
.form .link{
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
	font-size: 13px;
	margin:0 0 0 25px;
}
.form .link a{
	color: #0f47fc;
	text-decoration: underline;
}
.form .link a:hover{text-decoration: none;}
#post_form_success {
	text-align: center;
	padding: 10px;
	overflow: hidden;
	background: #fde5d8;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #000;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* faq block */
.faq-block .tabset{margin-bottom: 95px;}
.faq-list{
	list-style: none;
	margin-bottom: 94px;
	overflow: hidden;
}
.faq-list li{
	list-style: none;
	margin-bottom: 50px;
	overflow: hidden;
}
.faq-list .q,
.faq-list .a{
	margin-bottom: 20px;
	overflow: hidden;
}
.faq-list .q .ttl,
.faq-list .a .ttl{
	margin-right: 18px;
	float: left;
	width: 45px;
	height: 45px;
	font: italic 25px/45px 'Lato', sans-serif;
	color: #fff;
	background: #f60;
	text-align: center;
}
.faq-list .a .ttl{background: #666;}
.faq-list h3{
	font-size: 18px;
	line-height: 33px;
	color: #f60;
	padding-top: 6px;
	overflow: hidden;
}
.faq-list p{
	margin: 0;
	font-size: 15px;
	line-height: 26px;
	padding-top: 10px;
	font-weight: 500;
	overflow: hidden;
}
/* recruit block */
.recruit-block{
	margin-bottom: 122px;
	overflow: hidden;
}
.recruit-block .tabset{margin-bottom: 93px;}
table.table{
	margin-bottom: 72px;
	width: 100%;
	border-collapse: collapse;
}
table.table th,
table.table td{
	border: 1px solid #ccc;
	border-width: 1px 0;
	text-align: left;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	vertical-align: middle;
	padding: 15px 10px 14px 63px;
	height: 30px;
}
table.table th{
	background: #fff7f2;
	width: 27%;
}
table.table td{padding-left: 30px;}
/* firm box */
.firm-box{
	padding-top: 38px;
	margin-bottom: 49px;
	overflow: hidden;
}
.firm-box .page-title{margin-bottom: 50px;}
.firm-box .box{overflow: hidden;}
.firm-box .image{
	padding-top: 7px;
	width: 40%;
	margin-right: 9.7%;
	float: left;
}
.firm-box .image img{
	display: block;
	width: 100%;
}
.firm-box .text{overflow: hidden;}
.firm-box .text p{margin-bottom: 34px;}
.firm-box .text p.firm{
	text-align: right;
	margin-bottom: 10px;
}
.firm-box .text p.signature{text-align: right;}
.firm-box .text p.signature img{vertical-align: top;}
/* company profile */
.company-profile{margin-bottom: 150px;}
.company-profile .page-title{margin-bottom: 54px;}
.company-profile .box{overflow: hidden;}
.company-profile .images{
	float: right;
	margin-left: 10%;
	width: 40%;
}
.company-profile .images img{
	display: block;
	width: 100%;
	margin-bottom: 35px;
}
.company-profile .table{
	padding-top: 3px;
	overflow: hidden;
}
.company-profile table{
	width: 100%;
	border-collapse: collapse;
}
.company-profile table th,
.company-profile table td{
	border: 1px solid #ccc;
	border-width: 1px 0;
	text-align: left;
	font-size: 16px;
	line-height: 34px;
	font-weight: 500;
	vertical-align: middle;
	padding: 6px 5px 6px 28px;
	height: 37px;
}
.company-profile table th{
	background: #fff7f2;
	width: 29%;
	padding: 6px 5px;
	text-align: center;
}
/* development block */
.development-block{
	margin-bottom: 96px;
	background: #ffefe5;
	padding: 48px 0 96px;
	overflow: hidden;
}
.development-block h2{
	text-align: center;
	font-size: 23px;
	line-height: 1.4;
	font-weight: 600;
	letter-spacing: 3px;
}
.development-block h3{
	margin-bottom: 28px;
	font: italic 18px/1.3 'Lato', sans-serif;
	color: #f60;
	text-align: center;
	letter-spacing: 2px;
}
.development-block .box{overflow: hidden;}
.development-block .image{
	margin-right: 6%;
	float: left;
	padding-top: 2px;
	width: 50%;
}
.development-block .image img{
	display: block;
	width: 100%;
}
.development-block .text{
	font-size: 14px;
	line-height: 28px;
	overflow: hidden;
	letter-spacing: -0.5px;
}
.development-block .text p{margin-bottom: 28px;}
/* future block */
.future-block{
	margin-bottom: 97px;
	overflow: hidden;
}
.future-block h2{
	text-align: center;
	font-size: 23px;
	line-height: 1.4;
	font-weight: 600;
	letter-spacing: 3px;
}
.future-block h3{
	margin-bottom: 32px;
	font: italic 18px/1.3 'Lato', sans-serif;
	color: #f60;
	text-align: center;
	letter-spacing: 2px;
}
.future-block .blocks{
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
}
.future-block .box{
	width: 30.612%;
	margin-bottom: 20px;
}
.future-block .box img{
	display: block;
	width: 100%;
}
.future-block .box .text{
	padding: 20px 25px 30px;
	text-align: center;
	border:1px #d9d9d9 solid;
	border-width: 0 1px 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.future-block .box h4{
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 1.4;
	color: #f60;
}
.future-block .box p{
	font-size: 13px;
	line-height: 26px;
	margin: 0;
}
/* commitment block */
.commitment-block{
	margin-bottom: 179px;
	padding: 47px 0 87px;
	background: #ffefe5;
	overflow: hidden;
}
.commitment-block h2{
	text-align: center;
	font-size: 23px;
	line-height: 1.4;
	font-weight: 600;
	letter-spacing: 3px;
}
.commitment-block h3{
	margin-bottom: 35px;
	font: italic 18px/1.3 'Lato', sans-serif;
	color: #f60;
	text-align: center;
	letter-spacing: 2px;
}
.commitment-block .blocks{
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
}
.commitment-block .box{
	width: 30.612%;
	margin-bottom: 20px;
	background: #fff;
}
.commitment-block .box img{
	display: block;
	width: 100%;
}
.commitment-block .box .text{
	padding: 20px 25px 30px;
	overflow: hidden;
}
.commitment-block .box .hold{overflow: hidden;}
.commitment-block .box h4{
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 1.4;
	color: #f60;
	text-align: center;
}
.commitment-block .box p{
	font-size: 13px;
	line-height: 26px;
	margin: 0;
}
/* interview block */
.interview-block{
	margin-bottom: 123px;
	overflow: hidden;
}
.interview-block .tabset{margin-bottom: 97px;}
.interview-main{
	margin-bottom: 80px;
	background: #f60;
	color: #fff;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	overflow: hidden;
}
.interview-main .image{width: 50%;}
.interview-main .image.right{order: 1;}
.interview-main .image img{
	display: block;
	width: 100%;
}
.interview-main .text{
	width: 50%;
	overflow: hidden;
}
.interview-main .text .hold{
	width: 490px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 0 87px;
}
.interview-main .text.left .hold{
	padding: 0 50px 0 0;
	float: right;
}
.interview-main .text .num{
	display: block;
	font: italic 39px/1.4 'Lato', sans-serif;
	margin-bottom: 23px;
}
.interview-main .text h2{
	margin-bottom: 54px;
	font-size: 34px;
	line-height: 61px;
}
.interview-main .text .white-box{
	display: inline-block;
	vertical-align: top;
	padding: 10px 43px;
	background: #fff;
	font-size: 16px;
	line-height: 20px;
	color: #f60;
	margin-bottom: 15px;
}
.interview-boxes{
	margin-bottom: 90px;
	overflow: hidden;
}
.interview-boxes .box{
	margin-bottom: 64px;
	overflow: hidden;
}
.interview-boxes .box.box2{margin-bottom: 80px;}
.interview-boxes .box .image{
	float: left;
	width: 50%;
	margin-right: 58px;
}
.interview-boxes .box .image img{
	display: block;
	width: 100%;
}
.interview-boxes .box .image.right{
	float: right;
	margin: 0 0 0 58px;
}
.interview-boxes .box .text{
	padding-top: 6px;
	overflow: hidden;
}
.interview-boxes .box h3{
	margin-bottom: 32px;
	font-size: 28px;
	line-height: 1.4;
	color: #f60;
}
.interview-boxes .box p{
	font-size: 14px;
	line-height: 2;
	margin: 0;
}
/* workplace box */
.workplace-box{
	margin-bottom: 63px;
	overflow: hidden;
}
.workplace-box h2{
	margin: 0 auto 38px;
	font-size: 28px;
	line-height: 1.4;
	color: #f60;
	max-width: 980px;
	text-align: center;
	letter-spacing: 2px;
}
.workplace-box .gallery-img{
	margin-bottom: 75px;
	overflow: hidden;
}
.workplace-box .gallery-img img{
	display: block;
	width: 100%;
}
.interview-main .text.left .hold,
.interview-main .text .hold{
	padding: 0 25px;
	width: 100%;
}
.interview-main .text .num{
	font-size: 26px;
	margin-bottom: 10px;
}
.interview-main .text h2{
	font-size: 28px;
	line-height: 1.4;
	margin-bottom: 20px;
}
.interview-main .text .white-box{
	padding: 5px 20px;
	font-size: 13px;
	line-height: 16px;
}



























	/* footer */
#footer{
	padding: 200px 0 208px;
	font-weight: 500;
	overflow: hidden;
}
#footer .holder{
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: flex-start;
	justify-content: space-between;
}
#footer .logo-holder{
	width: 40%;
	margin-left: 1%;
}
#footer .logo-holder h5{
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.4;
}
#footer .copyright{
	margin: 0;
	font-size: 11px;
	line-height: 1.4;
}
#footer .logo{
	margin-bottom: 5px;
	display: block;
	width: 158px;
	height: 64px;
	background: url('../images/logo-footer.png') no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
#footer .logo a{
	display: block;
	height: 100%;
}
#footer .columns{
	width: 57%;
	padding-top: 2px;
	overflow: hidden;
}
#footer .columns .links{
	width: 35%;
	list-style: none;
	font-size: 14px;
	line-height: 20px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 20px;
}
#footer .columns .links:nth-child(2){
	width: 45%;
}
#footer .columns .links:last-child{
	width: 20%;
	padding-right: 0;
}
#footer .links li{
	margin-bottom: 16px;
	white-space: nowrap;
}
#footer .links li a{
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	position: relative;
	background: url('../images/arrow-footer.png') no-repeat 0 50%;
	-webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all 0.5s ease;
}
#footer .links li a:hover{
	color: #f60;
	background: url('../images/arrow-footer-on.png') no-repeat 0 50%;
}
/* responsive styles */
@media only screen and (max-width: 1400px) {
	#header .link-call{width: 230px;}
	#header .nav{right: 260px;}
	#header nav ul li{margin-left: 42px;}
	#header .logo{left: 20px;}
	.interview-box .text h4{margin-bottom: 20px;}
	.interview-box .text p{margin-bottom: 20px;}
	#footer .logo-holder{width: 35%;}
	#footer .columns{width: 62%;}
}
/* tablet styles */
@media only screen and (max-width: 1000px) {
	.holder{
		padding-left: 25px;
		padding-right: 25px;
	}
	#header{padding: 0 8px;}
	#header .logo{left: 0;}
	#header .link-call{
		font-size: 14px;
		width: 180px;
	}
	#header .nav{right: 200px;}
	#header nav ul{
		font-size: 13px;
		font-weight: 600;
	}
	#header nav ul li{margin-left: 20px;}

	.swiper-top .top-heading{width: 500px;}
	.swiper-top .top-heading h3{font-size: 22px;}
	.swiper-top .top-heading h2{
		font-size: 25px;
		letter-spacing: 3px;
	}
	.mission-boxes .box{width: 32%;}
	.interview-box .text h4{
		font-size: 20px;
		line-height: 1.4;
		margin-bottom: 12px;
	}
	.interview-box .text p{
		font-size: 13px;
		line-height: 1.4;
		margin-bottom: 15px;
	}
	.interview-small-holder .box{width: 49%;}
	.work-with-us .text h3{font-size: 20px;}
	.work-with-us .text h4{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.work-with-us .text p{
		font-size: 13px;
		line-height: 1.5;
		margin-bottom: 10px;
	}
	.work-with-us .text .btn{
		font-size: 18px;
		line-height: 40px;
	}
	.work-with-us .text .btn span{line-height: 40px;}
	.workflow-blocks .box{padding-right: 50px;}
	.workflow-blocks .box.right{padding: 0 0 0 50px;}
	.contact-box .heading h4{letter-spacing: 1.5px;}
	.form .row .label{padding-left: 0;}
	.form .row.top .check-col{margin-bottom: 5px;}
	.faq-list{margin-bottom: 70px;}
	table.table th{padding-left: 40px;}
	.recruit-block{margin-bottom: 0;}
	.firm-box .image{margin-right: 5%;}
	.company-profile{margin-bottom: 130px;}
	.company-profile .images{margin-left: 5%;}
	.future-block .box{width: 31%;}
	.future-block .box .text,
	.commitment-block .box .text{padding: 20px;}
	.commitment-block{margin-bottom: 95px;}















	#footer{padding: 100px 0 140px;}
	#footer .copyright{font-size: 10px;}
	#footer .logo-holder{width: 33%;}
	#footer .logo-holder h5{font-size: 18px;}
	#footer .columns .links{font-size: 13px;}
}
/* mobile styles */
@media only screen and (max-width: 736px) {
	.pc{display: none !important;}
	.sp{display: block !important;}
	body{
		background: url('../images/bg-body-sp.jpg') no-repeat 0 100%;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
	#wrapper{padding-top: 48px;}
	/* mobile header */
	#header{
		height: 48px;
		padding: 0;
	}
	#header .header{height: 48px;}
	#header .logo{
		top: 8px;
		left: 8px;
		width: 84px;
		height: 34px;
		-webkit-background-size: 84px 34px;
		background-size: 84px 34px;
	}
	#header .link-call{display: none;}
	#header .mobile-opener{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 48px;
		height: 48px;
		text-indent: -9999px;
		overflow: hidden;
	}
	.mobile-opener span {
		display: block;
		position: absolute;
		top: 23px;
		left: 9px;
		right: 9px;
		height: 4px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background: #000;
		-webkit-transition: background 0s .3s;
		transition: background 0s .3s;
	}
	.mobile-opener span:after,
	.mobile-opener span:before{
		-webkit-transition-duration: .3s,.3s;
		transition-duration: .3s,.3s;
		-webkit-transition-delay: .3s,0s;
		transition-delay: .3s,0s;
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 4px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background-color: #000;
		content: "";
	}
	.mobile-opener span:before{
		-webkit-transition-property: top,-webkit-transform;
		transition-property: top,transform;
		top:-9px;
	}
	.mobile-opener span:after{
		-webkit-transition-property: bottom,-webkit-transform;
		transition-property: bottom,transform;
		bottom: -9px;
	}
	.nav-visible .mobile-opener span{background: 0 0;}
	.nav-visible .mobile-opener span:after,
	.nav-visible .mobile-opener span:before{
		-webkit-transition-delay: 0s,.3s;
		transition-delay: 0s,.3s;
	}
	.nav-visible .mobile-opener span:before{
		top: 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		background:#000;
	}
	.nav-visible .mobile-opener span:after{
		bottom: 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		background:#000;
	}
	#header .nav {
		position: fixed !important;
		top: 48px;
		left: 0;
		width: 100%;
		background-color: #ffefe5;
		overflow: hidden;
		display: none;
		bottom: 0;
		padding: 0;
	}
	#header .nav ul {
		display: flex;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-wrap: wrap;
		height: 100%;
		overflow: auto;
		-webkit-align-content: flex-start;
		-moz-align-content: flex-start;
		-ms-align-content: flex-start;
		align-content: flex-start;
	}
	#header .nav ul li {
		width: 50%;
		margin: 0;
		border: 1px solid #c9c1bc;
		border-width: 0 1px 1px 0;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	#header .nav ul li:nth-child(even){
		border-right-width: 0;
	}
	#header .nav ul li a{
		display: block;
		padding: 12px 15px;
		font-size: 13px;
		line-height: 19px;
	}
	#header nav{margin-bottom: 40px;}
	#header .link-mail{
		margin: 0 auto;
		display: block;
		width: 264px;
		background: #fff;
		color: #f60;
		font-size: 19px;
		line-height: 50px;
		border-color: #f60;
	}
	#header .link-mail:before{
		content: '';
		position: relative;
		z-index: 1;
		right: auto;
		top: 18px;
		display: inline-block;
		vertical-align: top;
		width: 21px;
		height: 15px;
		overflow: hidden;
		margin: 0 11px 0 0;
		background: url('../images/icon-mail.png') no-repeat;
		-webkit-background-size: 21px 15px;
		background-size: 21px 15px;
	}
	#header .link-mail span{
		line-height: 50px;
		font-weight: 500;
	}
	#header .link-mail:after{background: #f60;}
	#header .link-mail:hover{color: #fff;}
	#header .link-mail:hover:before{
		background: url('../images/icon-mail-on.png') no-repeat;
		-webkit-background-size: 21px 15px;
	}
	/* mobile main content */
	.promo-heading{margin-bottom: 18px;}
	.promo-heading .top-links,
	.promo-heading .top-links li:before{
		font-size: 11px;
		line-height: 27px;
		letter-spacing: -0.3px;
	}
	.promo-heading .top-links li{padding: 0 3px 0 9px;}
	.swiper-top .top-heading{
		width: 270px;
		margin-top: -8px;
	}
	.swiper-top .top-heading h3{
		font-size: 13px;
		line-height: 1.2;
		letter-spacing: 1.5px;
		margin-bottom: 5px;
	}
	.swiper-top .top-heading h2{
		font-size: 14px;
		line-height: 1.2;
		letter-spacing: 1px;
	}
	.swiper-top .top-heading:before{
		top: 3px;
		left: 3px;
	}
	.swiper-top .top-heading .hold{padding: 12px 5px;}
	.promo-image h2{
		font-size: 23px;
		line-height: 1.2;
		letter-spacing: 1.5px;
	}
	.promo-image h3{font-size: 15px;}
	.mission-title{
		margin-bottom: 26px;
		font-size: 12px;
		line-height: 18px;
	}
	.mission-title h2{
		font-size: 18px;
		margin-bottom: 5px;
		letter-spacing: 1.5px;
	}
	.mission-title .holder{padding: 0 5px;}
	.mission-title p{letter-spacing: -0.5px;}
	.mission-boxes{
		padding: 42px 0 7px;
		margin-bottom: 30px;
	}
	.mission-boxes .boxes{flex-wrap: wrap;}
	.mission-boxes .boxes .box{
		width: 100%;
		margin-bottom: 40px;
	}
	.mission-boxes .box .text{padding: 14px 10px 15px;}
	.mission-boxes .box h3{
		font-size: 15px;
		margin-bottom: 0;
	}
	.mission-boxes .box p{
		margin-bottom: 8px;
		font-size: 12px;
	}
	.mission-boxes .btn{
		width: 225px;
		max-width: 225px;
		line-height: 43px;
	}
	.mission-boxes .btn span{line-height: 43px;}
	.mission-boxes .btn:before{
		right: 31px;
		background: url('../images/arrow02-sp.png') no-repeat;
		width: 14px;
		height: 14px;
		-webkit-background-size: 14px 14px;
		background-size: 14px 14px;
		margin-top: -7px;
	}
	.mission-boxes .btn:hover:before{
		background: url('../images/arrow02-sp-on.png') no-repeat;
		-webkit-background-size: 14px 14px;
		background-size: 14px 14px;
	}
	.mission-boxes .box p span{display: inline;}
	section .heading{margin-bottom: 23px;}
	section .heading h2{
		font-size: 16px;
		margin-bottom: 1px;
	}
	section .heading h3{
		font-size: 12px;
		letter-spacing: 1.2px;
	}
	.interview-holder{margin-bottom: 35px;}
	.interview-box{flex-wrap: wrap;}
	.interview-box .image{width: 100%;}
	.interview-box .image:after{display: none;}
	.interview-box .text{
		width: 100%;
		padding: 24px 25px 27px;
	}
	.interview-box .text h4{
		margin-bottom: 7px;
		font-size: 15px;
	}
	.interview-box .text p{
		margin-bottom: 15px;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0;
	}
	.interview-box .btn{
		line-height: 44px;
		width: 227px;
		max-width: 227px;
	}
	.interview-box .btn span{line-height: 44px;}
	.interview-box .btn:before{
		width: 14px;
		height: 14px;
		margin-top: -7px;
		right: 31px;
		background: url('../images/arrow02-sp.png') no-repeat;
		-webkit-background-size: 14px 14px;
		background-size: 14px 14px;
	}
	.interview-box .btn:hover:before{
		background: url('../images/arrow02-sp-on.png') no-repeat;
		-webkit-background-size: 14px 14px;
		background-size: 14px 14px;
	}
	.interview-box.box2 .text{order: 1;}
	.interview-small-holder{margin-bottom: 8px;}
	.interview-small-holder .boxes{flex-wrap: wrap;}
	.interview-small-holder .box{
		width: 100%;
		margin-bottom: 35px;
	}
	.interview-small-holder .box h4{
		font-size: 12px;
		line-height: 17px;
		margin-bottom: 0;
	}
	.interview-small-holder .box h5{
		font-size: 10px;
		line-height: 14px;
		letter-spacing: 1px;
		margin-bottom: 5px;
	}
	.work-with-us{
		padding-top: 27px;
		margin-bottom: 35px;
		flex-wrap: wrap;
	}
	.work-with-us .sp{
		width: 100%;
		text-align: center;
	}
	.work-with-us h3{
		padding: 0 25px;
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 4px;
	}
	.work-with-us h4{
		margin-bottom: 15px;
		font-size: 12px;
		line-height: 1.2;
		letter-spacing: 1.5px;
	}
	.work-with-us .image,
	.work-with-us .text{width: 100%;}
	.work-with-us .text{
		padding: 23px 25px 39px;
		line-height: 18px;
	}
	.work-with-us .text p{margin-bottom: 17px;}
	.work-with-us .text .btn{
		font-size: 13px;
		line-height: 43px;
		width: 225px;
		max-width: 225px;
	}
	.work-with-us .text .btn span{line-height: 43px;}
	.gallery-images .heading{margin-bottom: 22px;}
	section.gallery-images .heading h2{margin-bottom: 6px;}
	.gallery-images{margin-bottom: 34px;}
	section.access-box .heading h2{margin-bottom: 6px;}
	.access-box{margin-bottom: 17px;}
	.access-box .heading{margin-bottom: 16px;}
	.access-box .access{flex-wrap: wrap;}
	.access-box .access .map{
		width: 100%;
		height: 177px;
	}
	.access-box .access .text{
		width: 100%;
		padding: 34px 0 0;
	}
	.access-box .access .text h4{
		font-size: 15px;
		font-weight: normal;
		margin-bottom: 15px;
	}
	.access-box .access .text .info{margin-bottom: 17px;}
	.access-box .access .text p{
		font-size: 12px;
		line-height: 21px;
	}
	.promo-image{margin-bottom: 35px;}
	.tabset-holder{margin: 0 -20px;}
	.tabset,
	.faq-block .tabset{margin-bottom: 30px;}
	.tabset a{
		font-size: 12px;
		line-height: 14px;
		padding: 5px;
		height: auto;
	}
	.page-title h2{
		font-size: 18px;
		letter-spacing: 2px;
	}
	.page-title h3{
		font-size: 13px;
		letter-spacing: 1px;
	}
	.page-title{margin-bottom: 30px;}
	.contact-box .heading h4{
		font-size: 14px;
		line-height: 1.4;
		margin-bottom: 0;
	}
	.form{padding-top: 30px;}
	.form .row,
	.form .row.top{margin-bottom: 20px;}
	.form .row .label{
		margin-bottom: 5px;
		font-size: 12px;
		line-height: 24px;
		display: block;
		float: none;
		padding: 0;
	}
	.form .row .label i{
		font-size: 9px;
		line-height: 22px;
		width: 40px;
	}
	.jcf-checkbox{
		width: 24px;
		height: 24px;
		margin-right: 7px;
	}
	.form .check-col{
		margin: 0 12px 5px 0;
	}
	.form .holf .check-col:last-child{margin-bottom: 0;}
	.form .check-col label{
		font-size: 12px;
		line-height: 24px;
	}
	.form .text{width: 100%;}
	.form .link{margin: 0;}
	.form .row.bottom{margin-bottom: 30px;}
	.form .btn{margin-bottom: 30px;}
	.contact-box{margin-bottom: 0;}
	.faq-list{margin-bottom: 0;}
	.faq-list li{margin-bottom: 40px;}
	.faq-list .q,
	.faq-list .a{margin-bottom: 5px;}
	.faq-list .q .ttl,
	.faq-list .a .ttl{
		width: 30px;
		height: 30px;
		font-size: 18px;
		line-height: 30px;
		margin-right: 15px;
	}
	.faq-list h3{
		font-size: 16px;
		line-height: 22px;
		padding-top: 4px;
	}
	.faq-list p{
		font-size: 13px;
		line-height: 18px;
		padding-top: 6px;
	}
	.recruit-block .tabset{margin-bottom: 35px;}
	.table-holder{margin: 0 -20px;}
	table.table{margin-bottom: 30px;}
	table.table th,
	table.table td{
		padding: 10px;
		font-size: 12px;
		line-height: 18px;
	}
	.recruit-block .btn{margin-bottom: 0;}
	.firm-box{padding-top: 0;}
	.firm-box .page-title{margin-bottom: 20px;}
	.firm-box .image{
		margin: 0 0 20px;
		float: none;
		width: 100%;
		padding-top: 0;
	}
	.firm-box .text p{
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 18px;
	}
	.firm-box .text p.signature img{width: 120px;}
	.company-profile{margin-bottom: 20px;}
	.company-profile .page-title{margin-bottom: 20px;}
	.company-profile .images{
		margin: 0;
		float: none;
		width: 100%;
	}
	.company-profile .images img{margin-bottom: 15px;}
	.company-profile table th,
	.company-profile table td{
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 12px;
		line-height: 18px;
	}
	.development-block{
		padding: 40px 0 30px;
		margin-bottom: 40px;
	}
	.development-block h2,
	.future-block h2,
	.commitment-block h2{
		font-size: 16px;
		margin-bottom: 1px;
	}
	.development-block h3,
	.future-block h3,
	.commitment-block h3{
		font-size: 12px;
		letter-spacing: 1.2px;
		margin-bottom: 23px;
	}
	.development-block .image{
		margin: 0 0 20px;
		width: 100%;
		float: none;
		padding-top: 0;
	}
	.development-block .text{
		font-size: 13px;
		line-height: 18px;
	}
	.development-block .text p{margin-bottom: 18px;}
	.future-block{margin-bottom: 20px;}
	.future-block .blocks,
	.commitment-block .blocks{flex-wrap: wrap;}
	.future-block .blocks .box,
	.commitment-block .blocks .box{width: 100%;}
	.future-block .box .text,
	.commitment-block .box .text{padding: 15px 10px;}
	.future-block .box h4,
	.commitment-block .box h4{
		font-size: 15px;
		margin-bottom: 5px;
	}
	.future-block .box p,
	.commitment-block .box p{
		font-size: 12px;
		line-height: 2;
	}
	.commitment-block{
		margin-bottom: 20px;
		padding: 30px 0 20px;
	}
	.workflow-blocks{
		height: auto;
		padding-top: 5px;
		margin-bottom: 50px;
	}
	.workflow-blocks:before{
		left: 5px;
		margin: 0;
	}
	.workflow-blocks .box,
	.workflow-blocks .box.right{
		left: 0;
		top: 0 !important;
		position: relative;
		padding: 0 0 0 30px;
		margin-bottom: 40px;
		width: 100%;
	}
	.workflow-blocks .box:before,
	.workflow-blocks .box.right:before{
		top: 14px;
		right: auto;
		left: 0;
		width: 12px;
		height: 12px;
		margin: 0;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
	.workflow-blocks .box .head{padding: 10px  5px;}
	.workflow-blocks .box .head:before,
	.workflow-blocks .box.right .head:before{
		top: 50%;
		right: 100%;
		border-left: 0;
		margin-top: -5px;
		border-top: 5px solid transparent;
		border-right: 10px solid #ffe3d0;
		border-bottom: 5px solid transparent;
	}
	.interview-block .tabset{margin-bottom: 40px;}
	.interview-main{
		margin-bottom: 40px;
		flex-wrap: wrap;
	}
	.interview-main .image,
	.interview-main .image.right{
		float: none;
		width: 100%;
		order: 0;
	}
	.interview-main .text,
	.interview-main .text.left{
		width: 100%;
	}
	.interview-main .text .hold,
	.interview-main .text.left .hold{
		padding: 15px 25px;
	}
	.interview-main .text .num{
		font-size: 20px;
		margin-bottom: 10px;
	}
	.interview-main .text h2{
		font-size: 22px;
		margin-bottom: 10px;
	}
	.interview-main .text .white-box{
		padding: 5px 10px;
		font-size: 12px;
		margin: 0;
	}
	.interview-boxes .box{margin-bottom: 40px;}
	.interview-boxes .box .image,
	.interview-boxes .box .image.right{
		margin: 0 0 10px;
		width: 100%;
		float: none;
	}
	.interview-boxes .box h3{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.interview-boxes .box p{
		font-size: 13px;
		line-height: 1.5;
	}
	.interview-boxes,
	.interview-block{margin-bottom: 20px;}
	.workplace-box{margin-bottom: 30px;}
	.workplace-box h2{
		font-size: 20px;
		padding: 0 25px;
		margin-bottom: 15px;
	}
	.workplace-box .gallery-img{
		margin-bottom: 20px;
	}
	.workplace-box .btn{
		font-size: 19px;
		margin-bottom: 0;
	}
	.workplace-box .btn:before{right: 15px;}














	#footer{
		padding: 50px 0 105px;
	}
	#footer .holder{
		padding: 0;
		flex-wrap: wrap;
	}
	#footer .columns{
		width: 100%;
		padding-top: 0;
		margin-bottom: 30px;
		overflow: hidden;
	}
	#footer .columns .links{
		display: block;
		width: 100% !important;
		float: none;
		margin-bottom: -1px;
		background: #ffefe5;
		overflow: hidden;
	}
	#footer .links li{
		width: 50%;
		float: left;
		border: 1px solid #c7c7c7;
		border-width: 0 1px 1px 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 0;
	}
	#footer .links li:nth-child(even) {
		border-right-width: 0;
	}
	#footer .links li a{
		display: block;
		background: none;
		line-height: 19px;
		padding: 12px 13px;
	}
	#footer .logo-holder{
		text-align: center;
		width: 100%;
		order: 1;
	}
	#footer .logo{
		margin: 0 auto 5px;
		width: 107px;
		height: 44px;
		-webkit-background-size: 107px 44px;
		background-size: 107px 44px;
	}
	#footer .logo-holder h5{
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 8px;
	}
	#footer .copyright{
		font-size: 9px;
		letter-spacing: 1px;
	}
}